/**
 * Variables
 * ----------------------------------------------------------------
 */

/**
 * Main
 */
$primary:                                    #219dc8;

$logo:                                       "stad-logo.svg";

$brand:                                      #cf0039;
$brand-light:                                #f28b00;


/**
 * Navigation
 */
$nav-top-bg-color:                           #333;
$nav-aside-link-hover-color:                 $primary;

$back-to-top-bgcolor:                        rgba($primary, .4);
$back-to-top-hover-bgcolor:                  rgba($primary, .8);



/**
 * Colors
 */
$brand-success:                              #56b91a;
$brand-info:                                 #42a5f5;
$brand-warning:                              #ffa726;
$brand-danger:                               #ef5350;

$link-color:                                 $primary;
$link-hover-color:                           lighten($link-color, 8%);


/**
 * Code
 */
$code-color:                                 $primary;
$code-bg:                                    lighten($primary, 51%);


/**
 * Focus
 */
$input-base-color:                           $primary;
$input-border-focus:                         $primary;


/**
 * Buttons
 */
$btn-primary-bg:                             $primary;


/**
 * Datepicker
 */
$datepicker-btn-hover-color:                 $primary;
$datepicker-btn-selected-bg-color:           $primary;
$datepicker-btn-today-color:                 $primary;


/**
 * Callouts
 */
$callout-color:                          mix($primary, #333, 75%);
$callout-bgcolor:                        lighten(#e3f2fd, 1%);
$callout-link-color:                     $link-color;
$callout-border:                         $primary;


$callout-color-success:                  mix($brand-success, #333, 75%);
$callout-bgcolor-success:                lighten(#e8f5e9, 1%);
$callout-link-color-success:             $link-color;
$callout-border-success:                 $brand-success;


$callout-color-warning:                  mix($brand-warning, #333, 75%);
$callout-bgcolor-warning:                lighten(#fff3e0, 1%);
$callout-link-color-warning:             $link-color;
$callout-border-warning:                 $brand-warning;


$callout-color-danger:                   mix($brand-danger, #333, 75%);
$callout-bgcolor-danger:                 lighten(#ffebee, 1%);
$callout-link-color-danger:              $link-color;
$callout-border-danger:                  $brand-danger;


/**
 * Hit-area-box
 */
$hit-area-checked-bgcolor:                   $primary;


/**
 * Interactive table
 */
$table-interactive-options-selected-bgcolor: lighten($primary, 45%);
$table-interactive-options-dropzone-border:  $primary;


/**
 * Pagination
 */
$pagination-link-active-bg:                  $primary;


/**
 * Upload
 */
$upload-hover-background-color:              lighten($primary, 50%);
$upload-border-color:                        $primary;
$upload-bg-color-success:                    lighten($brand-success, 54%);


/**
 * Badges
 */
$badge-primary-bg:                           $primary;


/**
 * Labels
 */
$label-primary:                              $primary;


/**
 * Loader
 */
$loader-color: rgba($primary, .4);
$loader-color-alt: rgba($primary, .8);
